<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Evaluation LIst</title>
</head>
<body>
<h1>Evaluation List</h1>

<table>
  <thead>
  <tr>
    <th>아이디</th>
    <th>과목명</th>
    <th>교수명</th>
    <th>수강년도</th>
    <th>수강학기</th>
    <th>수강구분</th>
    <th>평가 제목</th>
    <th>평가 내용</th>
    <!-- Add more columns if necessary -->
  </tr>
  </thead>
  <tbody>
  <tr th:each="searchDto : ${searchList}">
    <td th:text="${searchDto.userID}"></td>
    <td th:text="${searchDto.lecture_name}"></td>
    <td th:text="${searchDto.professor_name}"></td>
    <td th:text="${searchDto.lecture_year}"></td>
    <td th:text="${searchDto.semester_divide}"></td>
    <td th:text="${searchDto.lecture_divide}"></td>
    <td th:text="${searchDto.evaluation_title}"></td>
    <td th:text="${searchDto.evaluation_content}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>